@media screen and (max-width: 426px) {
  header {
    padding-top: 20px;
  }
  header nav {
    width: 90%;
  }
  header nav .nav-top {
    gap: 20px;
  }
  header nav .nav-top img {
    width: 20px;
    height: 20px;
  }
  header nav .nav-top .search-bar {
    width: 200px;
  }
  header nav .nav-top .search-bar input {
    padding: 12px 18px;
  }
  header nav .nav-top .button-bar {
    display: none;
  }
  header nav .nav-top .tel {
    display: none;
  }
  header nav .nav-bottom {
    display: none;
  }
  header .url {
    margin-top: 20px;
    width: 90%;
  }
  header .header {
    width: 90%;
    margin-top: 20px;
    flex-direction: column-reverse;
  }
  header .header .left, header .header .right {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header .header .left .btn-2 {
    margin-top: 20px;
    flex-direction: column-reverse;
  }
  header .header .left .btn-2 .btn-tel {
    margin: 0;
  }
  header .header .left .btn-2 .btn-sec {
    margin: 0;
    margin-top: 10px;
  }
  header .header .left .effect {
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
  }
  header .header .left .effect .one {
    margin: 0;
    gap: 0;
  }
  section {
    width: 90%;
    margin-bottom: 30px;
  }
  section .help {
    margin-top: 100px;
  }
  section .freeConsultation .bottom {
    flex-direction: column;
    gap: 10px;
  }
  section .freeConsultation .bottom .card {
    width: 100%;
  }
  .contact {
    width: 90%;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
  }
  .contact .left, .contact .center, .contact .right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .contact .left img {
    margin-left: 60px;
  }
  .contact .center h2 {
    font-size: larger;
  }
  .help-you {
    width: 90%;
  }
  .help-you .bottom .bottom-top, .help-you .bottom .bottom-bottom {
    flex-direction: column;
    gap: 20px;
  }
  .help-you .bottom .bottom-top .con, .help-you .bottom .bottom-bottom .con {
    flex-direction: column;
  }
  .help-you .bottom .bottom-top .con .con-left, .help-you .bottom .bottom-bottom .con .con-left {
    width: 100%;
    height: 30%;
  }
  .help-you .bottom .bottom-top .con .con-right, .help-you .bottom .bottom-bottom .con .con-right {
    width: 100%;
    height: 70%;
  }
  .choose {
    width: 90%;
  }
  .choose .top {
    flex-direction: column;
  }
  .choose .top .left, .choose .top .right {
    width: 100%;
  }
  .choose .top .left {
    height: auto;
  }
  .choose .top .right {
    display: none;
  }
  .choose .bottom {
    margin-top: 30px;
    flex-direction: column;
    padding: 30px 20px;
  }
  .choose .bottom .left, .choose .bottom .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .choose .bottom .left .input-container, .choose .bottom .right .input-container {
    width: 100%;
    flex-direction: column;
  }
  .choose .bottom .left .input-container input, .choose .bottom .right .input-container input {
    width: 100%;
    height: 54px;
  }
  .grid {
    width: 90%;
  }
  .ask {
    display: none;
  }
  .klient-section .klient .bottom .left, .klient-section .klient .bottom .right {
    display: none;
  }
  .klient-section .klient .bottom .center {
    width: 90%;
    margin: auto;
  }
  .yurist-portal {
    width: 90%;
  }
  .yurist-portal .bottom {
    flex-direction: column;
  }
  .yurist-portal .bottom .bottom-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .yurist-portal .bottom .bottom-right {
    width: 100%;
  }
  .yurist-portal .bottom .bottom-right .container {
    padding: 20px;
  }
  .yurist-portal .bottom .bottom-right .container .con-top .online {
    display: none;
  }
  .yurist-portal .bottom .bottom-right .container .con-bottom .flex-form {
    flex-direction: column;
    gap: 10px;
  }
  .yurist-portal .bottom .bottom-right .container .con-bottom .flex-form .input-container {
    width: 100% !important;
  }
  footer {
    width: 90%;
  }
  footer .bottom {
    flex-direction: column;
  }
  footer .bottom div {
    width: 100%;
  }
  .warning {
    width: 350px;
    padding: 10px;
  }
  .konsultatsiya .container {
    width: 350px;
  }
  .konsultatsiya .container .left {
    display: none;
  }
  .konsultatsiya .container .right {
    width: 100%;
    padding: 15px;
  }
  .konsultatsiya .container .right h1 {
    font-size: 25px;
  }
  .konsultatsiya .container .right .yurists {
    display: none;
  }
  .konsultatsiya .container .right form .flex-form {
    gap: 10px;
    flex-direction: column;
  }
  .konsultatsiya .container .right form .flex-form .input-container {
    width: 100%;
  }
  .zayavka .container {
    width: 350px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */